<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ver2point0.android.blocquery" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BloQueryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.BloQueryActivity" >
        </activity>
        <activity android:name=".ui.activity.QuestionsActivity" >
        </activity>
        <activity
            android:name=".ui.activity.SingleQuestionActivity"
            android:label="@string/activity_single_question"
            android:parentActivityName=".ui.activity.QuestionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ver2point0.android.blocquery.ui.activity.QuestionsActivity" />
        </activity>
    </application>

</manifest>
